<div class="container d-flex flex-column" style="height:100%">
  <div class="row">
    <h2>{{"RegisterVehicles" | translate}}</h2>
  </div>

  <div class="row mb-1 border-bottom" *ngFor="let vehicle of form.controls; let i = index;">

    <component-text-collumn class="col-6" [label]="'LicensePlate' | translate" [content]="vehicle.get('licensePlate').value"></component-text-collumn>

    <component-text-collumn class="col-6" [label]="'Brand' | translate" [content]="vehicle.get('brand').value"></component-text-collumn>

    <component-text-collumn class="col-6" [label]="'Model' | translate" [content]="vehicle.get('model').value"></component-text-collumn>

    <component-text-collumn class="col-6" [label]="'Category' | translate" [content]="vehicle.get('category').value"></component-text-collumn>

  </div>

  <div class="row mb-3 d-flex align-items-center">
    <div>
      <button mat-raised-button color="primary" (click)="addVehicle()">{{"AddVehicle" | translate}}</button>
    </div>

  </div>

  <div class="row d-flex align-items-center  mb-3 m-auto">
    <div class="col-6 d-flex  justify-content-start">
        <button mat-raised-button color="primary" (click)="backStep()">{{"Back" | translate}}</button>
    </div>
    <div class="col-6 d-flex  justify-content-end">
      <button mat-raised-button color="primary" (click)="nextStep()">{{"Next" | translate}}</button>
    </div>
  </div>
</div>

