<div class="container d-flex flex-column" style="height:100%">
  <div class="row text-center">
    <h2>{{"NearbyParks" | translate}}</h2>
  </div>


  <!--
  <div class="row mb-1 border-bottom" *ngFor="let nearbyPark of listParks; let i = index;">

    <component-text-collumn class="col-6" [label]="'Designation' | translate"
                            [content]="nearbyPark.designation"></component-text-collumn>

    <component-text-collumn class="col-6" [label]="'Street' | translate"
                            [content]="nearbyPark.address.street"></component-text-collumn>

    <component-text-collumn class="col-6" [label]="'Distance' | translate"
                            [content]="nearbyPark.distance + ' km'"></component-text-collumn>

    <component-text-collumn class="col-6" [label]="'SpotHandicap' | translate"
                            [content]="nearbyPark.spotHandicap"></component-text-collumn>

    <component-text-collumn class="col-6" [label]="'SpotEletric' | translate"
                            [content]="nearbyPark.spotEletric"></component-text-collumn>

    <component-text-collumn class="col-6" [label]="'SpotGPL' | translate"
                            [content]="nearbyPark.spotGPL"></component-text-collumn>

    <component-text-collumn class="col-6" [label]="'SpotGas' | translate"
                            [content]="nearbyPark.spotGas"></component-text-collumn>

    <component-text-collumn class="col-6" [label]="'SpotMotorcycle' | translate"
                            [content]="nearbyPark.spotMotorcycle"></component-text-collumn>

  </div>
  -->

  <div id="map" style="height: 800px;"></div>

</div>
